.dynamic-grid {
  margin-top: 15px;
}

.history-title {
  margin-top: 0px;
}

.ht-title {
  margin-top: 0px;
  font-size: 20px;
  color: #555;
  margin-bottom: 7px;
}

.ht-creator-meta {
  font-size: 11px;
  color: #888;
  margin-bottom: 7px;
}

.ht-creator {
  .ht-creator-avatar {
    float: left;
    margin: 0px 5px 3px 0px;
    width: 40px;
  }

  .ht-creator-displayName {
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    padding-top: 2px;
    color: #000;
  }

  .ht-creator-location {
    font-size: 10px;
    color: #888;
  }

}