{{#unless values.haveAnyMedia}}
  <div class="history-requirements-block">
    <div class="form-group">
      <h4>Para concluír o envio da história você deve enviar pelo menos 1 das opções de mídia que são:</h4>

      <ul class="list-group">
        <li class="list-group-item">Texto e descrição: <a class="btn btn-default" href="/history/{{values.id}}/edit?step=2">Enviar</a></li>
        <li class="list-group-item">Imagens: <a class="btn btn-default" href="/history/{{values.id}}/edit?step=3">Enviar</a></li>
        <li class="list-group-item">Vídeos: <a class="btn btn-default" href="/history/{{values.id}}/edit?step=4">Enviar</a></li>
        <li class="list-group-item">Audios: <a class="btn btn-default" href="/history/{{values.id}}/edit?step=5">Enviar</a></li>
      </ul>
    </div>
  </div>
{{/unless}}