<ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li><a href="/hotel-card">{{t 'hotel-card.find'}}</a></li>
  <li class="active">Adicionar / criar</li>
</ol>

<h1>Adicionar / Criar ficha</h1>

{{{form 'hotel-card' data validationError}}}