<ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li><a href="/hotel-card">{{t 'hotel-card.find'}}</a></li>
  <li class="active">Editar #{{data.id}}</li>
</ol>

<h1>Editar ficha #{{data.id}}</h1>

{{{form 'hotel-card' data validationError}}}