{{#if step1}}
  <h1>Descreva sua história:</h1>
  {{{form 'history1' data validationError}}}
{{/if}}

{{#if step2}}
  <h1>Mídia (Imagens, vídeo e audios):</h1>
  {{{form 'history2' data validationError}}}
{{/if}}

{{#if step3}}
  <h1>Publicação:</h1>
  {{{form 'history3' data validationError}}}
{{/if}}

