{{multistep-steps
  steps=steps
  currentStep=currentStep
  url=req.url
  urlBeforeAlias=req.urlBeforeAlias
}}

{{#if currentStepOBJ}}
  <h1>{{currentStepOBJ.title}}</h1>
  {{{form currentStepOBJ.form data validationError}}}
{{/if}}