<div class="pinion-helper">
  <a href="{{widget.configuration.link}}">
    <img class="pinion-image" src="/public/project/pinion-amarelo.png" /> <span class="pinion-message">{{{widget.configuration.message}}} <i class="fa fa-plus-circle" aria-hidden="true"></i></span>
  </a>
</div>